<template>
  <div>
    <h1 class="text-4xl">Rebus</h1>
    <h4 class="pt-4 text-md text-gray-600">
      richiede la ricostruzione di una parola o di una frase per mezzo di segni
      o di figure
    </h4>
    <div class="pt-8">
      <div class="max-w-md">
        <img src="../assets/images/rebus1.jpg" alt="" />
      </div>
      <div>
        <div>
          <span
            @mousedown="solution1 = true"
            @mouseup="solution1 = false"
            @mouseleave="solution1 = false"
            class="p-2 rounded-md bg-indigo-100 text-sm cursor-pointer text-gray-600"
          >
            soluzione
          </span>
        </div>
        <div class="mt-2">
          <span v-if="solution1">piu, meNo, per e DIviso</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data: () => {
    return { solution1: false };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
