@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body {
  font-family: 'Roboto Mono', sans-serif;
}

#app {
  font-family: 'Roboto Mono', sans-serif;
}