<template>
  <div id="app" class="flex justify-center">
    <Home class="max-w-2xl mx-32 my-16">
    </Home>
  </div>
</template>

<script>
import Home from './components/Home.vue'

export default {
  name: 'App',
  components: {
    Home
  }
}
</script>

<style src="./assets/tailwind.css">
</style>

